@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');

body {
	background-color: #A3B0C6;
}

/* Navbar*/
a.navbar-brand {
	text-align: center;
	font-size: 40px;
	font-family: 'Caveat Brush', cursive;
	margin: 0;
	margin-right: 20px;
	padding: 0;
}

/* Hero */
#hero .overlay h1 {
	font-weight: bold;
	font-size: 5vw;
	text-align: end
}

#hero .overlay h2 {
	font-size: 3vw;
}

@media screen and (max-width: 768px)
{
	#hero .overlay h1 {
		font-size: 8vw;
	}
	
	#hero .overlay h2 {
		font-size: 6vw;
	}
}

#hero .carousel-inner img {
	height: 86vh;
	object-fit: cover;
	filter: grayscale(10%);
}

@media screen and (max-width: 768px)
{
	#hero .carousel-inner img {
		height: 80vh;
	}	
}

#hero .overlay {
	color: white;
  	top: 0;
  	right: 0;
  	bottom: 0;
	left: 0;
	z-index: 10;
	background-color: rgba(0, 0, 0, 0.8);
	display: flex;
	align-items: flex-start;
	padding-bottom: 50px;
}

/* About Me */
#about-me {
	margin-top: 20px;
	height: 60vh;
	display: flex;
	align-items: center;
}

#about-me h2 {
	margin-bottom: 20px;
}

#about-me .knowledge ul {
	list-style: none;
}

#about-me .knowledge li {
	font-size: 16px;
}